@import "./assets/styles/global-styles.scss";

.ds_section_header {
  position: relative;
  span {
    background-color: var(--bg-1);
    color: var(--text-1);
    padding-right: .5rem;
    position: relative;
    z-index: 1;
  }
  &::before {
    background-color: var(--ac-1);
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 1.2rem;
    right: 0;
  }
}
.ds_btn {
  background-color: var(--ac-2);
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 3fr 1fr;
  font-size: 1rem;
  font-weight: bold;
  height: 3rem;
  margin: 2rem 0 1rem;
  width: 12rem;
  @include mobile {
    font-size: 1.1rem;
    height: 3.5rem;
    width: 13rem;
  }
  &.white {
    color: $text-primary;
    background-color: $white;
    div {
      background-color: $gray-border;
    }
  }
  div {
    background-color: var(--ac-1);
    border-radius: 4px;
    line-height: 3rem;
    text-indent: 1rem;
    width: 100%;
    transition: .2s ease-in-out text-indent;
    @include mobile {
      line-height: 3.5rem;
    }
  }
  &:hover div {
    text-indent: 1.2rem;
  }
}
.ds_toggle {
  background-color: $gray-med;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0.4rem 0.2rem;
  padding: 0.15rem;
  width: 1.4rem;
  transition: background-color 0.2s ease-out;
  @include mobile {
    width: 1.6rem;
  }
  &.dark {
    background-color: #656565;
    .dot {
      background-color: $gray-med;
    }
  }
  &.toggled {
    .dot {
      transform: translateX(0.9rem) scale(2.3);
      @include mobile {
        transform: translateX(1.1rem) scale(2.3);
      }
    }
    &.blue {
      background-color: rgba($blue, 0.4);
      .dot {
        background-color: $blue;
      }
    }
    &.purple {
      background-color: rgba($purple, 0.4);
      .dot {
        background-color: $purple;
      }
    }
  }
  .dot {
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 1px 3px 1px rgba($gray-dk, 0.1),
      0 1px 2px 0 rgba($gray-dk, 0.25);
    height: 0.5rem;
    width: 0.5rem;
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
    transform: scale(2.2);
    @include mobile {
      height: 0.6rem;
      width: 0.6rem;
    }
  }
}
.ds_info_line {
  padding: 3rem 0;
  text-align: center;
  &.no_padding {
    padding: 0;
  }
  .float_wrapper {
    display: inline-block;
    overflow: auto;
    text-align: center;
    .fa-info {
      background: linear-gradient(-60deg, var(--ac-2), var(--ac-1));
      border-radius: 50%;
      color: $white;
      float: left;
      font-size: 0.55rem;
      line-height: 1.2rem;
      text-align: center;
      width: 1.2rem;
      @include mobile {
        float: none;
        line-height: 1.3rem;
        margin-bottom: 0.5rem;
        width: 1.3rem;
      }
    }
    h4 {
      color: var(--text-2);
      float: left;
      font-size: .95rem;
      font-weight: 400;
      line-height: 1.2rem;
      margin: 0;
      text-indent: 0.75rem;
      @include mobile {
        line-height: 1.4rem;
        margin: .5rem auto 0;
        text-indent: 0;
      }
      strong {
        color: var(--text-1);
        margin-right: 0.2rem;
        @include mobile {
          margin: 0;
        }
      }
      span {
        color: var(--accent-1);
        cursor: pointer;
        text-decoration: underline;
      }
      br {
        display: none;
        @include mobile {
          display: inline;
        }
      }
      @include mobile {
        float: none;
      }
    }
    .info_line_btn {
      background: -webkit-linear-gradient(160deg, $purple-dk, $blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1px solid $gray-med;
      color: $purple;
      cursor: pointer;
      float: left;
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1.2rem;
      margin-left: 0.5rem;
      @include mobile {
        float: none;
        display: inline-block;
        margin: 1rem 0 0;
      }
      &:hover {
        color: $purple-dk;
      }
      i {
        -webkit-text-fill-color: $purple;
        margin-left: 0.1rem;
      }
    }
  }
}
@keyframes textSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}